<header>
	<a href="#"><h1 class="site-title"></i>DrawThings</h1></a>

	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem navlink active"><a href="#">Home</a></li>
		</ul>
	</nav>
</header>
