<header>
	<a href="/"><h1 class="site-title"></i>DrawThings</h1></a>

	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem navlink {{#if active.homePage}}active{{/if}}"><a href="/">Home</a></li>
			<li class="navitem navlink {{#if active.galleryPage}}active{{/if}}"><a href="/gallery">Gallery</a></li>
		</ul>
	</nav>
</header>
