<script src="/draw.js" charset="utf-8" defer></script>

<main class="draw-page">
	<input type="text" placeholder="Title" id="title-input" />
	<canvas id="draw-canvas"></canvas>
	<div class="button" id="submit-button">
		<p>
			Submit Thing
		</p>
	</div>
</main>
