<main class="home-page">
	<h2 class="welcome-text">Welcome to DrawThings!</h2>
	<h3 class="welcome-small-text">Use this website to draw things!</h3>
	<a href="/draw" class="draw-button">
		<p>
			Start Drawing!
		</p>
	</a>
</main>
